.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main
{

  margin-left: 38px; /* Solo si .sideBar es fixed */
  flex: 1;
  padding: 0;
  padding-left: 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


.secundary-text-color
{
  color: #6C757D;
}

.border-left
{
  border-left: 2px solid #DEE2E6;
}