.HEP-summary-card
{
  background-color: #fff;
  box-shadow: 0px 2px 6px #ADB5BD;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1rem;
  gap: 1rem;
}

.HEP-summary-card input {
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: #ffffff;
  background-color: none;
  text-align: center;
}

.HEP-summary-card input:disabled {
  background-color: transparent;
  color: #000;
  cursor: not-allowed;
}

.HEP-summary-card button
{
  border-radius: 0rem 1rem 1rem 0;
  padding: 2rem 2.6rem;
  background-color: #E791D9;
}

.HEP-summary-card-form
{
    padding:     1.3rem 1.8rem;
}

.HEP-summary-card-form h3
{
    margin: 0;
}

.form-section-row
{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.form-section-column
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.edit-info
{
  display: flex;
  justify-content: space-between;
    gap: 8.6rem;
  font-size: 0.9rem;
align-items: self-start;
}
.edit-info h3
{
  display: flex;
    align-items: flex-start;

}
.edited-time p
{
  margin:0;
}

.info-data
{
  margin-top: 1.3rem;
    text-align: center;
}
