.info-card {
    position: relative;
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.info-card label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #334155;
}

.info-card input[type="text"],
.info-card input[type="email"] {
  width: 80%;
  padding: 0.5rem 10%;
  margin-bottom: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 1rem;
  color: #ffffff;
}

.info-card input[type="text"]:disabled,
.info-card input[type="email"]:disabled {
  background-color: #e2e8f0;
  color: #64748b;
  cursor: not-allowed;
}

.info-card-edit-btn {
   position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: #3b82f6;
  cursor: pointer;
  padding: 0;
  transition: color 0.2s ease;
  
}

.info-card-edit-btn:hover {
   color: #0e46a1;
}

.info-card-save-btn {
  background-color: #10b981;
  color: #fff;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: column;
  margin: auto;

}

.info-card-save-btn:hover {
  background-color: #059669;
}