.sideBar {
  width: 38px;
  height: 100vh;
  background-color: #845CC0; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 1rem;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  align-items: flex-start;
}

.top-buttons
{
  padding-top: 1.6rem;
  width: 100%;
}

.bottom-buttons
{
  padding-bottom: 0.4rem;
  width: 100%;
}

.logo
{
  max-width: 100%;
}

.navbar
{
  margin-top: 2.2rem;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-bottom: 1.6rem;
}

.navbar a {
  text-decoration: none;
  color: #d1d5db;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 8px;
  width: 100%;
  margin:0;
}

.navbar a:hover {
  color: #323232;
}

.navbar img {
  margin: auto;
}

.logout-btn
{
   align-self: flex-end;
}